
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../Css/details.css">
    <title>Meals Details</title>
</head>
<body>
    

    <!-- home anchor image -->
    <a href="../index.html">
        <i class="fa-solid fa-house"></i>
    </a>
        <!-- main div  -->
    <div id="main">

        <!-- meal name  -->
        <h2 id="heading"></h2>

        <!-- meal image -->
        <img id="img" alt="">

        <!-- meal category  -->
        <h4 id="category">Category - </h4>

        <!-- youtube link  -->
        <a id="yt" href="">Click to watch video</a>
    </div>

    <!-- instruction -->
    <p id="instruction"></p>
    
    <script src="details.js"></script>
    <!-- scripts -->
  
    
</body>
</html>
